# CODEOWNERS - Automatic assignment for files modified by Dependabot

# Ruby (bundler)
Gemfile @Anouchka-M @annabelle-scalingo @TheoPouletSouchard @aurelien-reeves-scalingo

# Github Actions
.github/workflows/* @Anouchka-M @annabelle-scalingo @TheoPouletSouchard @aurelien-reeves-scalingo
